/* Your global CSS styles here */

.combined-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.select-wrapper {
    flex: 1;
    position: relative;
}

.input-wrapper {
    flex: 1;
    position: relative;
    max-width: calc(100% - 40px);
}

.input-wrapper input {
    width: 100%;
    min-width: 200px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
}

.error-text {
    color: red;
    margin-top: 5px;
}

.select-container {
    position: relative;
    width: 120px;
}

.search-input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    min-width: 100px;
    text-align: left;
    transition: width 0.3s ease; /* Add transition for smooth width change */
}

.search-input.active {
    border: none !important;
    border-radius: 4px;
    font-size: 14px;
}

.country-list {
    position: absolute;
    top: calc(100% + 5px);
    left: -6px;
    width: 120px;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
    overflow-x: hidden;
}

.country-item {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 14px;
    margin: 0 0 0 5px;
}

.country-item:hover {
    background-color: #f0f0f0;
}

.search-icon {
    position: absolute;
    right: -1%;
    top: 10%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 16px;
    margin-right: -5px;
}

.input-search {
    padding-left: 8px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    text-align: left;
    width: 100%;
}

.input-search.active {
    border: none !important;
    border-radius: 4px;
    font-size: 14px;
}

.fixed-list-item {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}

/* Responsive Styles */

@media screen and (max-width: 600px) {
    .combined-input {
        flex-direction: column;
        align-items: stretch;
    }

    .select-wrapper,
    .input-wrapper {
        flex: auto;
        width: 100%;
        margin: 5px 0;
    }

    .country-list {
        width: 100%;
        left: 0;
    }

    .search-icon {
        right: 5px;
        top: 50%;
        transform: translate(0, -50%);
    }
}
